<div class="container-card-experience">
    <div class="card-experence">            
        <div *ngFor="let experience of profile.experiences">
            <p-card>
                <p-header>
                    <div class="header">
                        <div class="date">
                            <small>{{ experience.startDate}}</small>
                            <br>
                            <small>{{ experience.finishDate }}</small>
                        </div>
                        <div class="org-name">
                            {{ experience.organizationName }}
                            <br>
                            <small>({{ experience.area }})</small>
                        </div>
                        <div class="logo" *ngIf="experience.image">
                            <div>
                                <img [src]='experience.image' class="img-fluid img-logo">
                            </div>
                        </div>
                    </div>
                </p-header>
                <div class="card-content" *ngIf="experience.open" >
                    <div class="position">
                        <span class="postion-text">Position:</span>{{ experience.position }}
                    </div>
                    <div class="description">
                        <ul>
                            <li *ngFor="let desc of experience.description">
                                <small>{{ desc }}</small>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <div class="location">
                            Location: {{ experience.address }}
                        </div>                       
                    </div>
                </div>
                    <div class="btn-open-info-card">
                        <button nz-button nzType="primary" nzShape="round" [nzGhost]="true" style="display: flex;" (click)="openContentCard(experience.id)">
                            <i nz-icon [nzType]="experience.iconType" nzTheme="outline"></i>
                        </button>
                    </div>                 
            </p-card>
        </div>
    </div>
</div>