/* 
font-family: 'Roboto Slab', serif;
font-family: 'Playfair Display', serif;
font-family: 'Slabo 27px', serif;
*/

.navbar-dark{
    font-family: 'Roboto Slab', serif;
}
.navbar a:hover{
    font-weight:bold;
}
.active a:hover{
    font-weight:unset;
}
.logo-container{
    position: relative;
    color:#fff;
    z-index: 10;
}



.logo-container > img{
    background-color: #fff;
    padding: 9%;
    border-radius: 30px;
    cursor: pointer;
    width: 80%;
    outline: none;
}


