
/* 
font-family: 'Roboto Slab', serif;
font-family: 'Playfair Display', serif;
font-family: 'Slabo 27px', serif;
*/
.card-experence{
    position: relative;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}
.card-experence > div{
    
    margin: 3% 3% 3% 0;
    width: 280px;
}
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 145px;
}
.img-fluid{
    padding: 1%;
    width: 225px;
}

.description{
    height: 75px;
    overflow: auto;
    
}
.more-info{
    height: 140px;
    overflow: auto;
}
/* .card-experence > .ui-widget{
    margin:10px
} */
.cad-content{
    font-family: 'Roboto Slab', serif;  
}

.container-btn-download{
    position: absolute;
    top:8px;
    right: 20px;
}
.btn-download-cv{
    all: unset;
    color: #0073b1;
    box-shadow: inset 0 0 1px 2px #0073b1;
    background-color: white;
    width: 10em;
    height: 2em;
    text-align: center;
    cursor: pointer;
}
.btn-download-cv:hover{
    font-weight: bold;
}



  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 545px) {
    .container-btn-download{
        position: relative; 
        display: grid;
        place-items: center;
        margin-bottom: 3%;      
    }
}
  