<p-tabView> 
    <p-tabPanel header="About">
       <app-about [about]='about'></app-about>
    </p-tabPanel>

    <p-tabPanel header="Experience">
            
        <div class="card-experence">            
            <div *ngFor="let experience of profile.experiences">
                <p-card>
                    <p-header>
                        <div class="img-container" *ngIf="experience.image != null; else defaultImage ">
                            <img class="img-fluid" [src]="experience.image">
                        </div>
                        <ng-template #defaultImage>
                            <div class="img-container" >
                                <img style="opacity:0.7;" class="img-fluid" src="./assets/images/noLogo.png">
                            </div>
                        </ng-template>
                    </p-header>
                    <div class="cad-content">
                        {{ experience.organizationName }}
                        <br>                      
                        {{ experience.address }}
                        <br>
                        {{ experience.position }}
                        <br>                       
                        <!-- <div class="description">
                            {{ experience.description }}
                        </div> -->
                        <div class="more-info">
                            <br>
                            {{ experience.programmingLanguages }}
                            <hr>
                            {{ experience.startDate}}
                            <br>
                            {{ experience.finishDate }}
                        </div>
                    </div>
                   
                </p-card>
            </div>
        </div>
       

    </p-tabPanel>
    <p-tabPanel header="Formations">
        <app-virtual-scroller></app-virtual-scroller>
    </p-tabPanel>
</p-tabView>

<div class="container-btn-download">
    <button class="btn-download-cv" [pTooltip]="txtTooltip" tooltipPosition="left">Download resume</button>
</div>

    