<ul class="list-group list-group-flush">

    <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 3%; margin-top: 4%;">
        <div class="card card-content" >
            <div class="card-body">            
                <div class="all-content-welcome">
                    <div [@animation-content-news]="state"  class="content-welcome">                        
                        <a (click)="showModal()" target="_blank" >
                            <img src="assets/images/europass.jpg" style="width: 170px;">
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/f%C3%A1bio-ribeiro-de-carvalho-b522a3156/">
                            <img src="assets/images/linkedin.png" style="width: 100px;">
                        </a>    
                        <a target="_blank" href="https://github.com/stembrino">
                            <img src="assets/images/github.png" style="width: 100px;">
                        </a>                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!closeBar">
        <p-progressBar [value]="loaded"></p-progressBar>
    </div>
    
    <div [@animation-news]="state" >
        <div class="title-header">today's advances news about the world of Information Technology </div>
            <div class="paginator">
                <nz-pagination (nzPageIndexChange)="testAlert($event)" [nzPageSize]="numberOfItemPage" [nzPageIndex]="1" [nzTotal]="newsList.length"></nz-pagination>
            </div>
        <li *ngFor="let news of page" class="list-group-item" [@animation-news-page]="state">
            <a (click)="openModalNews(news.urlToImage, news.content, news.urlSourceNews)" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#exampleModal">
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <img [src]="news.urlToImage" class="image-fluid img-thumbnail image-news">
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <div class="conten-news">
                            <span class="title-news">{{ news.title }}</span>
                            <br>
                            <span class="news-body">{{ news.description }}</span>
                        </div>                
                    </div>            
                </div>
            </a>
        </li>  

    </div>

</ul>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">        
        <div class="modal-body news-body">
            <div class="content-modal-news">
                <div class="img-news-modal">
                    <img [src]="imgNewsModal" class="image-fluid img-thumbnail image-news" style="opacity: 1;">
                </div>
                <div style="margin-bottom: 2%;">{{ contentNewsModal }}</div>
                <small>See more in:</small>
                <small><a [href]="url" target="_blank">{{ url }}</a></small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-close-modal" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>


    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Select a Language"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
      [nzFooter]="null"
      [nzBodyStyle]="{padding: '5px'}"
    >
        <div class="container-aux-modal">
            <div class="container-modal-btn">
                <button nz-button (click)='openPDF("En")' nzType="primary" nzShape="circle"><span>En</span></button>
                <button nz-button (click)='openPDF("Pt")' nzType="primary" nzShape="circle"><span>Pt</span></button>    
            </div>
        </div>
    </nz-modal>